# LES VARIABLES EN PYTHON

Python peut travailler avec tout type de valeurs, numérique ou textuelle, sans avoir à spécifier le type à l'avance.

Les caractères et le texte doivent être indiqués entre guillemets : "texte" ou 'texte'.

In [1]:
'a'

'a'

Si on oublie les guillemets:

In [2]:
a

NameError: name 'a' is not defined

Si nous ne mettons pas de guillemets les caractères sont consideres comme des variables auxquels un valeur doit etre assigné.

In [3]:
a=4

In [4]:
a

4

In [5]:
a='a'

In [6]:
a

'a'

In [7]:
a='texte'

In [8]:
a

'texte'

##### OPERATIONS DE BASE

Le signe + a une signification différente pour les chiffres et les caractères : il additionne pour les chiffres et concatène pour les caractères.

In [9]:
13+45

58

In [10]:
'a'+'b'

'ab'

Les signes -,/,* ne sont pas définis pour les caractères

In [11]:
24-45

-21

In [12]:
'ab'-'b'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [13]:
print(3*2)
print(3/2)
print(3**2)

6
1.5
9

Sans la commande 'print', seule la dernière opération effectuée dans une cellule est affichée.

In [14]:
3*2
3/2
3**2

9

Si on utilise les variables:

In [15]:
a=4
b=7

In [16]:
a+b

11

On peut transformer les chiffres en texte:

In [17]:
print(a)
print(b)

4
7

In [18]:
str(a)

'4'

In [19]:
str(a)+str(b)

'47'

In [20]:
'test'+str(b)

'test7'

On peut demander à python quel type de valeur corresponds à une variable:

In [21]:
a=4
b='4'
c=0.4

In [22]:
type(a)

int

In [23]:
type(b)

str

In [24]:
type(c)

float

C'est une bonne habitude de donner des noms significatifs aux variables, qui décrivent ce que les variables représentent.

Un exemple plus concret:

$IMC=\frac{poids}{taille^2}$

In [25]:
poids=57
taille=1.70

IMC=poids/(taille**2)

In [26]:
IMC

19.723183391003463

In [27]:
type(IMC)

float

#### QUELQUE OPERATION POUR LES VARIABLES TEXTUELLES

In [28]:
tt='La population de la France est de 67,8 millions. La population de l\'Italie est de 58,98 millions.'

In [29]:
# calculer la longueur du texte
len(tt)

97

In [30]:
#mettre tout le teste en minuscule/majuscule
print(tt.lower())
print(tt.upper())

la population de la france est de 67,8 millions. la population de l'italie est de 58,98 millions.
LA POPULATION DE LA FRANCE EST DE 67,8 MILLIONS. LA POPULATION DE L'ITALIE EST DE 58,98 MILLIONS.

In [31]:
#modifier certaines parties du texte
tt2=tt.replace('Italie','Argentine')

In [32]:
tt

"La population de la France est de 67,8 millions. La population de l'Italie est de 58,98 millions."

In [33]:
tt2

"La population de la France est de 67,8 millions. La population de l'Argentine est de 58,98 millions."

In [34]:
#On peut encheiner les operations.
tt3=tt.replace('Italie','Argentine').replace('58,98','46,01')

In [35]:
tt3

"La population de la France est de 67,8 millions. La population de l'Argentine est de 46,01 millions."

In [36]:
#Tester si un texte contient un mot
'Italie' in tt

True

In [37]:
'Italie' in tt3

False