In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Un tableu est representé en Python comme un objet dataframe de la bibliotheque pandas

On peut créer un dataframe en mettant ensemble une serie de listes de la meme longueur, chaque liste est une colonne

In [ ]:
# liste names
names=['Paolo','Marco','Marta','Emma']
#liste genre
genre=['M','M','F','F']
#liste age
age=[14,15,10,19]
#liste nombre de pays visités
ncountry=[8,2,5,9]

In [ ]:
# dataFrame vide
df=pd.DataFrame()

#j'ajoute les colonnes en choisissant un nom:
df['name']=names
df['gender']=genre
df['age']=age
df['ncountry']=ncountry

In [ ]:
df

Les premiers n lignes d'un dataframe sont visualisées avec le commande df.head(n)

In [ ]:
df.head(2)

Les dernieres n lignes d'un dataframe sont visualisées avec le commande df.tail(n)

In [ ]:
df.tail(3)

Une description statistique des colonnes numeriques:

In [ ]:
df.describe()

Je peux faire des operations entre les colonnes pour créer une nouvelle colonne:

In [ ]:
#exemple 1 "voyages/année"
df['freq_de_voyage']=df['ncountry']/df['age']

In [ ]:
df

In [ ]:
#ecart de l'age moyenne
agemoyenne=np.mean(df['age'])
print(agemoyenne)

In [ ]:
df['ecartAge']=df['age']-agemoyenne

In [ ]:
df

#### filtrer un dataframe

Dataframe pour le genre F

In [ ]:
dfF=df[df['gender']=='F']
dfF

Dataframe pour les ages >14

In [ ]:
dfm14=df[df['age']>14]
dfm14

# EXEMPLE 1 - students' performances

In [ ]:
df=pd.read_csv('StudentsPerformance.csv')

In [ ]:
df

some descriptive statistics:

In [ ]:
df.describe()

### some histograms and boxplots

In [ ]:
#distribution math score
df.hist('math score',bins=20,edgecolor='black')
plt.show()

In [ ]:
#distribution reading score
df.hist('reading score',bins=20,edgecolor='black')
plt.show()

In [ ]:
# distribution math score by gender
df[df['gender']=='female'].hist('math score',bins=20,edgecolor='black',color='red')
df[df['gender']=='male'].hist('math score',bins=20,edgecolor='black')
plt.show()

In [ ]:
# avec des boxplot
plt.figure(figsize=(10,8))
df.boxplot(by ='gender', column =['math score'],grid=False)
plt.show()

In [ ]:
# avec des boxplot plus beaux:
import seaborn as sns
sns.boxplot(x = 'gender', y = 'math score', data = df)
plt.show()

In [ ]:
sns.boxplot(x = 'gender', y = 'reading score', data = df)
plt.show()

In [ ]:
sns.boxplot(x = 'race/ethnicity', y = 'reading score', data = df)
plt.show()

In [ ]:
sns.boxplot(x = 'parental level of education', y = 'writing score', data = df)
plt.xticks(rotation=90)
plt.show()

ecart H/F in math for different levels of parents' education

In [ ]:
levelsOfEduc=set(df['parental level of education'])
levelsOfEduc

In [ ]:
for lev in levelsOfEduc:
    thisDf=df[df['parental level of education']==lev]
    sns.boxplot(x = 'gender', y = 'math score', data = thisDf,order=['female','male'])
    plt.title(lev)
    plt.show()

In [ ]:
re=set(df['race/ethnicity'])
for lev in re:
    thisDf=df[df['race/ethnicity']==lev]
    sns.boxplot(x = 'gender', y = 'math score', data = thisDf,order=['female','male'])
    plt.title(lev)
    plt.show()

### correlations

In [ ]:
df.plot.scatter(x='math score',y='reading score')
plt.show()

In [ ]:
df.plot.scatter(x='writing score',y='reading score')
plt.show()

In [ ]:
df.corr(method='pearson')

In [ ]:
pd.plotting.scatter_matrix(df)
plt.show()

# exemple 2 - prenoms

In [ ]:
df=pd.read_csv('dpt2021.csv',sep=';')

In [ ]:
df.head(30)

In [ ]:
#remove prenoms rares
df=df[df['preusuel']!='_PRENOMS_RARES']

In [ ]:
#remove XXXX et XX
df=df[df['annais']!='XXXX']
df=df[df['dpt']!='XX']

In [ ]:
df

Je divise en deux le tableau : noms masculins et féminins

In [ ]:
dfF=df[df['sexe']==2]
dfM=df[df['sexe']==1]

In [ ]:
#top 10 prenoms masculins in dep 75, in 1950
dfM75_1950=dfM[(dfM['annais']=='1950') & (dfM['dpt']=='75')]
dfM75_1950.sort_values(by='nombre',ascending=False).head(10)

In [ ]:
#top 10 prenoms M in dep 75, in 2017
dfM75_2017=dfM[(dfM['annais']=='2017') & (dfM['dpt']=='75')]
dfM75_2017.sort_values(by='nombre',ascending=False).head(10)

### evolution de la longueur des prenoms

J'ajoute une colonne avec la longueur du prenom

In [ ]:
#methode 1
longPr=[]
for i in df['preusuel']:
    longPr.append(len(i))
    
df['longPr']=longPr

In [ ]:
#methode 2
df['longPr']=df['preusuel'].apply(lambda x:len(x))

In [ ]:
# conversion de l'année en chiffre entier
df['year']=df['annais'].apply(lambda x:int(x))

In [ ]:
df

In [ ]:
#liste des années
years=sorted(list(set(df['year'])))

In [ ]:
avLen=[]
for y in years:
    thisDf=df[df['year']==y]
    thisDf['prod']=thisDf['longPr']*thisDf['nombre']
    nNom=sum(thisDf['nombre'])
    avLen.append(sum(thisDf['prod'])/nNom)

In [ ]:
plt.plot(years,avLen)
plt.show()

In [ ]:
dfF

In [ ]:
dfF['longPr']=dfF['preusuel'].apply(lambda x:len(x))
dfF['year']=dfF['annais'].apply(lambda x:int(x))

avLenF=[]
for y in years:
    thisDf=dfF[dfF['year']==y]
    thisDf['prod']=thisDf['longPr']*thisDf['nombre']
    nNom=sum(thisDf['nombre'])
    avLenF.append(sum(thisDf['prod'])/nNom)
    
dfM['longPr']=dfM['preusuel'].apply(lambda x:len(x))
dfM['year']=dfM['annais'].apply(lambda x:int(x))

avLenM=[]
for y in years:
    thisDf=dfM[dfM['year']==y]
    thisDf['prod']=thisDf['longPr']*thisDf['nombre']
    nNom=sum(thisDf['nombre'])
    avLenM.append(sum(thisDf['prod'])/nNom)

In [ ]:
plt.plot(years,avLenF,label='F')
plt.plot(years,avLenM,label='M')
plt.legend()
plt.show()