# LISTES et ENSEMBLES

Une liste est une séquence ordonnée de valeurs. Il est indiqué par une séquence de valeurs, séparées par des virgules, entre crochets. 

Une liste peut contenir des valeurs égales. 

Une liste ne doit pas nécessairement être homogène : elle peut contenir tous les types de valeurs.

In [1]:
# une liste de chiffres:
ln=[1,2,3,0.7,9]
# une liste de textes:
lt=['SUN','Flower','Mountain']
#mix:
lmix=[1,2,3,0.7,9,'SUN','Flower','Mountain']

Pour obtenir la longueur d'une liste, on utilise la commande len()

In [2]:
len(ln)

5

In [3]:
print(len(ln))
print(len(lt))
print(len(lmix))

5
3
8

Pour prendre le n-ième élément d'une liste on mets la position entre crochets : listname[n]

In [4]:
ln[4]

9

On commence à compter de 0, donc le premiere élément est

In [5]:
lt[0]

'SUN'

Pour prendre les n premiers éléments d'une liste : listname[:n]

In [6]:
ln[:3]

[1, 2, 3]

Pour prendre les éléments d'une liste en commençant par le nième élément : listname[n:]

In [7]:
ln[3:]

[0.7, 9]

Nous pouvons aussi commencer du fond de la liste:

In [8]:
print(ln)
print(ln[-1])
print(ln[-2])

[1, 2, 3, 0.7, 9]
9
0.7

Nous pouvons changer un element de la liste

In [9]:
lt

['SUN', 'Flower', 'Mountain']

In [10]:
lt[1]='River'

In [11]:
lt

['SUN', 'River', 'Mountain']

Pour retrouver la position d'un element dans la liste nous utilisons le commande listname.index(element)

In [12]:
lt.index('River')

1

In [13]:
ln.index(3)

2

#### LIST ET STRINGS

Pour transformer une liste dans une chaine de characters:

In [14]:
text=(' ').join(lt)
print (type(lt))
print (type(text))
print (text)

<class 'list'>
<class 'str'>
SUN River Mountain

In [15]:
textv=(',').join(lt)
print (textv)

SUN,River,Mountain

Pour transformer une chaine de characters dans une liste:

In [16]:
text.split(' ')

['SUN', 'River', 'Mountain']

In [17]:
textv.split(',')

['SUN', 'River', 'Mountain']

### OPERATIONS AVEC LES LISTES

Nous pouvons fusionner deux listes avec le signe +

In [18]:
lsum=lmix+ln
print(lsum)

[1, 2, 3, 0.7, 9, 'SUN', 'Flower', 'Mountain', 1, 2, 3, 0.7, 9]

nous pouvons ajouter un element au fond de la liste avec le commande : listname.append(newelement)

In [19]:
ln

[1, 2, 3, 0.7, 9]

In [20]:
ln.append(6)

In [21]:
ln

[1, 2, 3, 0.7, 9, 6]

Si la liste ne contient que des valeurs numériques, nous pouvons calculer la somme de tous les éléments avec la commande : sum(listname)

In [22]:
sum(ln)

21.7

Nous pouvons extraire max et min

In [23]:
print(min(ln))
print(max(ln))

0.7
9

Nous pouvons tester si une valeur se trouve à l'intérieur d'une liste avec l'opérateur 'in'.

In [24]:
4 in ln

False

In [25]:
'River' in lt

True

Pour compter le nombre de fois qu'un élément apparaît dans une liste, on peut utiliser la commande count()

In [26]:
lsum.count(2)

2

In [27]:
lsum.count('SUN')

1

In [28]:
lsum.count('River')

0

### LIST ET SET

Les "sets" sont d'autres types de listes qui ne contiennent pas de doublons. 

Ils sont utiles car les opérations entre ensembles sont définies sur les "set".

Pour enlever les doublons d'une liste on passe à un set (et eventuallement on peut le retransformer dans une liste.

In [29]:
lsum

[1, 2, 3, 0.7, 9, 'SUN', 'Flower', 'Mountain', 1, 2, 3, 0.7, 9]

In [30]:
set(lsum)

{0.7, 1, 2, 3, 9, 'Flower', 'Mountain', 'SUN'}

In [31]:
list(set(lsum))

[0.7, 1, 2, 3, 'Flower', 9, 'SUN', 'Mountain']

In [32]:
#### Operations entre set

In [33]:
setn=set(ln)
setmix=set(lmix)

In [34]:
setmix

{0.7, 1, 2, 3, 9, 'Flower', 'Mountain', 'SUN'}

In [35]:
setn

{0.7, 1, 2, 3, 6, 9}

In [36]:
# intersection (elements communs)
setn & setmix

{0.7, 1, 2, 3, 9}

In [37]:
# union
setn | setmix

{0.7, 1, 2, 3, 6, 9, 'Flower', 'Mountain', 'SUN'}

In [38]:
#difference (elements qui sont dans le premier ensemble et pas dans le deuxieme)
setn-setmix

{6}

In [39]:
setmix-setn

{'Flower', 'Mountain', 'SUN'}