In [2]:
import pandas as pd

In [1]:
names=['Lucas','Alex','Marie','Luis']
age=[4,5,7,3]

In [5]:
df=pd.DataFrame()

In [6]:
df['name']=names
df['age']=age

In [7]:
df

    name  age
0  Lucas    4
1   Alex    5
2  Marie    7
3   Luis    3

Il existe un moyen plus efficace de représenter ce type de données, les dictionnaires

In [8]:
#dictionnaire vide
age={}
age['Lucas']=4
age['Alex']=5
age['Marie']=7
age['Luis']=3

In [9]:
age

{'Lucas': 4, 'Alex': 5, 'Marie': 7, 'Luis': 3}

Les clés du dictionnaire sont les sujets pour lesquels les attributs sont définis.

In [10]:
age.keys()

dict_keys(['Lucas', 'Alex', 'Marie', 'Luis'])

Les valeurs du dictionnaire sont les valeurs des attributs

In [11]:
age.values()

dict_values([4, 5, 7, 3])

Si je veux connaître le valeur attribuée à un sujet:

In [12]:
age['Luis']

3

Les clés d'un dictionnaire peuvent être : des nombres entiers ou des chaînes de caractères.
Les valeurs d'un dictionnaire peuvent être de n'importe quel type (même des listes ou des dictionnaires).

In [13]:
objects ={}

objects["Fruit"]=["Mango","Banana"]
objects["Color"]=["Blue", "Red"]

In [14]:
objects

{'Fruit': ['Mango', 'Banana'], 'Color': ['Blue', 'Red']}

In [15]:
objects['Fruit']

['Mango', 'Banana']